/*------------------------------------------HEADER-------------------------------------*/
header {
    position: sticky;
    top: 0px; 
    z-index: 1000;
    overflow: hidden;
    background-color: rgb(145, 110, 65);
}

.container-fluid {
    font-family: 'DM Serif Display', serif;
    background-color: rgb(145, 110, 65);
    margin: -8px -2px -8px 0px;
    width: 100%;
    height: 80px;
    position: sticky;
    top: 0px;
    z-index: 1000;
    overflow: hidden;
}

.btn {
    border-color: black;
    color: black;
}
.navbar-brand {
    color: hsl(35, 77%, 9%);
    font-size: 40px;
    padding-right: 18px;
    padding-left: 10px;
}


.animate__pulse {
    animation-duration: 2s;

}

.fa-solid {
    margin-left: 370px;
    font-size: 25px;
    margin-top: 8px;
}
/*---------------------------------ALERTA-------------------------------------------*/

.alert-light {
    background-color: rgb(196, 174, 145);
    color: black;
    border: 0PX;
    display: flex;
    justify-content: center;
}




/*---------------------------------COLLAGE-----------------------------------------*/
.container {
    max-width: 900px;
    height: 600PX;
    width: 90%;
    margin: 4rem ;
    margin-left: 14rem;
    border: 2px solid  rgb(216, 202, 183);

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 300px repeat(2, 1fr);
}

.fotouno {
    width: 300px;
    height: 300px;
    background-image: url(../imagenes/cordonborcego.jpg);
}

.fotodos {
    width: 300px;
    height: 300px;
    background-image: url(../imagenes/borcegomarron.jpg);
}

.fototres {
    width: 300px;
    height: 300px;
    background-image: url(../imagenes/rosa.jpg);

}

.fotocuatro {
    width: 600px;
    height: 300px;
    background-image: url(../imagenes/cordonesamarillos.jpg);
    grid-column: 1/5;
    grid-row: 2/2;
}

.fotocinco {
    width: 300px;
    height: 300px;
    background-image: url(../imagenes/ingresos.jpg);
    grid-column: 3/5;
    grid-row: 2/2;
}

/* --------------------------------PRODUCTOS------------------------------------------*/
.PRODUCTOS {
    display: flex;
    justify-content: center;
    background-color: rgb(196, 174, 145);
    color: rgb(104, 78, 43);
    font-family: 'Lilita One', cursive;
}
.row {
    margin-left: 1rem;
}

.añadir {
    background-color: rgb(43, 32, 18);
    color:rgb(216, 197, 172);
    display: flex;
    justify-content: center;
}
.añadir:hover {
    background-color: rgb(136, 112, 81);
    color:rgb(24, 17, 8);
}
/*----------------------------------BODY-------------------------------------------*/

body {
    background-color: rgb(216, 202, 183);
    font-family: 'Public Sans', sans-serif;
}

.Dudas {
    margin: 6rem;
}
.Boton {
    background-color: rgb(139, 103, 55);
    color: bisque;
    border-radius: 15px;
}
.Boton:hover {
    background-color: burlywood;
    color: black;
    box-shadow: 0px 2px 7px 1px black;

}

main section h3 {
    color: rgb(58, 38, 11);
    font-size: 20px;
    transform: scale(1);
  transition: font-size 3s 1s;

}
main section h3:hover {
    font-size: 25px;
}


/*----------------------------------CARD--------------------------------------------*/

.card {
    background-color: rgb(226, 218, 207);
    font-family: 'Public Sans', sans-serif;

    
}
.titulotarj {
    color: rgb(78, 39, 11);
    font-size: 30px;
    font-family: 'Lilita One', cursive;
}

.tarjetas {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5rem;
    
}

.inscripcion {
    background-color: rgb(58, 47, 39);
    color: antiquewhite;
}



/*---------------CARRUSEL-------------------*/
.carousel {
    justify-content: center;
    margin: 10PX;
    margin-top: 4rem;
}

.carousel-caption h5 {
    color: rgb(34, 26, 5);
    font-size: 35px;
    font-family: 'Roboto', sans-serif;
}

.carousel-caption p {
    color: rgb(63, 44, 20);
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
}





/*---------------------------------FOOTER------------------------------------------*/

footer {
    position: sticky;
    background-color: rgb(65, 52, 36);
    font-family: 'DM Serif Display', serif;
    color: antiquewhite;
    margin: -8px 10px 0px 0px;
    width: 100%;
    height: 80px;
    position: sticky;
    z-index: 1000;
    overflow: hidden;

}
footer nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
footer nav ul div {
    list-style: none;
    text-decoration: none;
    margin: 4px;
}
footer nav h2 {
    font-size: 30px;
    box-sizing: border-box;
    text-align: right;
    padding-right: 10cm;

}
